
Desktop/Aplicatie Inventariere/.vs/Aplicatie Inventariere/v15/Server/sqlite3/db.lock
Desktop/Aplicatie Inventariere/.vs/Aplicatie Inventariere/v15/Server/sqlite3/storage.ide-wal
Desktop/Aplicatie Inventariere/.vs/Aplicatie Inventariere/v15/Server/sqlite3/storage.ide
Desktop/Aplicatie Inventariere/.vs/Aplicatie Inventariere/v15/Server/sqlite3/storage.ide-shm
Desktop/Aplicatie Inventariere/.vs/Aplicatie Inventariere/v15/Server/sqlite3/storage.ide-wal
